@model IEnumerable<University.Models.StudyYear.Student>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber.UniqueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits._credits)
            </td>
            <td>
                <input type="button" value="Edit" class="edit-student-btn" onclick="studentModule.editStudentGet('@item.RegistrationNumber.UniqueId')"/>
                @Html.ActionLink("Edit", "Edit", new {id = item.RegistrationNumber.UniqueId}) |
                @Html.ActionLink("Details", "Details", new {id = item.RegistrationNumber.UniqueId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.RegistrationNumber.UniqueId})
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/studentScript")
}
